<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a style="text-decoration: none;" href="#hero" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="../../public/img/logo.png" alt=""> -->
            <h1>URL-SHORTENER</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="#hero" class="active">Ana Sayfa</a></li>
                <li><a href="#about">Hakkımızda</a></li>
                <li><a href="#service">Hizmetlerimiz</a></li>
                <li class="dropdown"><a  href="#"><span> Profil</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">Bilgilerim</a></li>

                        <li><a href="#">Dönüştürdüklerim</a></li>
                        <li><a href="/user/logout">Çıkış Yap</a></li>
                        
                    </ul>
                </li>
                
            </ul>
        </nav><!-- .navbar -->

    </div>
</header>