
    <main id="main">


        <!-- ======= About Us Section ======= -->
        <section id="about" class="about pt-0 mt-5">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">
                    <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
                        <img src="../img/home-hero-mobile-v2.png" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=22ORM4Lg2as" class="glightbox play-btn"></a>
                    </div>
                    <div class="col-lg-6 content order-last  order-lg-first">
                        <h3>Hakkımızda</h3>
                        <p>
                            On yılı aşkın bir süredir, dijital bilgi paylaşanlar ve onların izleyicileri için bağlantı noktası olduk. Bağlantılar için katalizör görevi gören bir platform olmaktan gurur duyuyoruz ve bu taahhüdü yaptığımız her şeye taşıyoruz.
                        </p>
                        <ul>
                            <li data-aos="fade-up" data-aos-delay="100">
                                <i class="bi bi-diagram-3"></i>
                                <div>
                                    
                                    <p>Son derece işbirlikçi kültürümüzde, bireysel sorumluluk çok önemlidir. Müşterilerimizin en zorlu sorunlarını çözmek için birbirimize güvenirken, zaferleri ve başarısızlıkları birlikte kutlarız.
                                    </p>
                                </div>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="200">
                                <i class="bi bi-fullscreen-exit"></i>
                                <div>
                                    
                                    <p>Ürünlerimiz her geçmişe ve yeteneğe sahip insanları birbirine bağlar. Ve şirketimiz, farklılıklarımızın bizi daha iyi hale getirdiği ve herkesin gelişme fırsatını hak ettiği inancı üzerine kuruludur.</p>
                                </div>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="300">
                                <i class="bi bi-broadcast"></i>
                                <div>
                                    
                                    <p>Yenilikçi bir teknoloji şirketi olarak, ürünlerimizi bağlantı için katalizör görevi görecek şekilde inşa ediyoruz ve ekibimizi değişim ve yenilik için katalizör olmaları için teşvik ediyoruz.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->

        <!-- ======= Services Section ======= -->
        <section id="service" class="services pt-0">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <span>Hizmetlerimiz</span>
                    <h2>Hizmetlerimiz</h2>

                </div>

                <div class="row gy-4">

                    <div style="margin-left: 220px;" class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="card">
                            <div class="card-img">
                                <img  src="../img/2e0cd12e42484f072afabb68c54cb78f.png" alt="" class="img-fluid">
                            </div>
                            <h3><a href="#" class="stretched-link">Bağlantı Yönetimi</a></h3>
                            <p>İçeriğiniz ve hedef kitleniz arasındaki her bağlantı noktasını daha güçlü hale getirmeye yardımcı olacak kapsamlı bir çözüm.</p>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="card">
                            <div class="card-img">
                                <img src="../img/unnamed.png" alt="" class="img-fluid">
                            </div>
                            <h3><a href="#" class="stretched-link">QR Kodları</a></h3>
                            <p>Her müşteri, işletme ve marka deneyimi için QR Kod çözümleri.</p>
                        </div>
                    </div><!-- End Card Item -->


                </div>

            </div>
        </section><!-- End Services Section -->





        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <span>Sıkça Sorulan Sorular</span>
                    <h2>Sıkça Sorulan Sorular</h2>

                </div>

                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-10">

                        <div class="accordion accordion-flush" id="faqlist">

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-1">
                                        <i class="bi bi-question-circle question-icon"></i>
                                        URL kısaltıcı nedir?
                                    </button>
                                </h3>
                                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        Bağlantı kısaltıcı olarak da bilinen bir URL kısaltıcı, basit bir araç gibi görünse de, pazarlama çabalarınız
                                        üzerinde çarpıcı bir etkiye sahip olabilecek bir hizmettir.
                                    
                                        Bağlantı kısaltıcılar, herhangi bir uzun URL'yi daha kısa, daha okunabilir bir bağlantıya dönüştürerek çalışır. Bir
                                        kullanıcı kısaltılmış sürümü tıkladığında, otomatik olarak hedef URL'ye yönlendirilir.
                                    
                                        Kısa bir URL'yi, uzun web sayfası adresiniz için daha açıklayıcı ve akılda kalıcı bir takma ad olarak düşünün.
                                        Örneğin, bit.ly/CelebrateBitly gibi kısa bir URL kullanabilirsiniz, böylece insanlar bağlantınızı tıklamadan önce
                                        nereye yönlendirecekleri konusunda iyi bir fikir sahibi olurlar.
                                    
                                        Çevrimiçi dünyaya içerik katıyorsanız, bir URL kısaltıcıya ihtiyacınız vardır.
                                    
                                        Yukarıdaki kullanımı kolay ücretsiz bağlantı kısaltıcımızla URL'lerinizi öne çıkarın.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-2">
                                        <i class="bi bi-question-circle question-icon"></i>
                                        Kısa URL'nin faydaları nelerdir?
                                    </button>
                                </h3>
                                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        Özellikle tonlarca karakter ve sembol içeriyorsa, uzun bir web adresini kaç kişi hatırlayabilir? Kısa bir URL,
                                        bağlantınızı daha akılda kalıcı hale getirebilir. İnsanların bağlantınızı kolayca hatırlamasını ve başkalarıyla
                                        paylaşmasını sağlamakla kalmaz, aynı zamanda içeriğinize gelen trafiği önemli ölçüde artırabilir.
                                    
                                        Daha pratik bir açıdan bakıldığında, müşterilerinizle ister çevrimdışı ister çevrimiçi etkileşim kurmak isteyin,
                                        kısa bir URL'yi teminatınıza dahil etmek de daha kolaydır.
                                    
                                        Bitly, bağlantılarını oluşturmanın, izlemenin ve yönetmenin basit bir yolunu arayan etkileyicilerden küçük markalara
                                        ve büyük işletmelere kadar herkes için en iyi URL kısaltıcıdır.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-3">
                                        <i class="bi bi-question-circle question-icon"></i>
                                       Özel URL kısaltıcı nedir?
                                    </button>
                                </h3>
                                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        Bazen markalı URL kısaltıcı olarak adlandırılan özel bir URL kısaltıcı, bağlantılarınızı markalamanıza olanak tanır.
                                    
                                        Örneğin, bit.ly/2m75BWD yerine yourbrnd.co/2m75BWD gibi özel bir kısa URL kullanabilirsiniz.
                                    
                                        Kısa bağlantılarınızı markalaştırmanın çeşitli faydaları vardır. Markalı bağlantılar, hedef kitleniz ve işletmeniz
                                        arasında güven oluşturur, daha fazla tıklama sağlar, hedef kitlenize nereye götürüldüklerine dair bir ön izleme
                                        sunar ve marka bilinirliğini artırır.
                                    
                                        Özel kısa URL'ler içeren bir bağlantı kısaltma hizmeti, iletişimlerinizle hedef kitle etkileşimini artırmak için çok
                                        önemlidir. Kısa bir URL iyidir, ancak özel bir URL her zaman işe yarar.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-4">
                                        <i class="bi bi-question-circle question-icon"></i>
                                        QR Kodu nedir?
                                    </button>
                                </h3>
                                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        <i class="bi bi-question-circle question-icon"></i>
                                        Hızlı yanıt veya QR, çok sayıda bilgiyi saklayabilen bir barkod türüdür. Bir QR Kodu ile Barkod arasındaki bariz
                                        fark, görünüşüdür. Bir QR Kodu her zaman bir kare şeklindedir ve Tetris'e benzer daha küçük, hatta bloklar içerir.
                                        Öte yandan bir Barkod, farklı kalınlıklarda dikey çubuklara sahiptir ve genellikle bir seri numarasıyla birlikte
                                        gelir.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-5">
                                        <i class="bi bi-question-circle question-icon"></i>
                                        QR Kodu ne yapabilir?
                                    </button>
                                </h3>
                                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        Çok yönlülüğü nedeniyle, bir QR Kodu çok sayıda şey yapmak üzere programlanabilir. İki biçime ayrılabilir: Dinamik
                                        ve Statik. Dinamik QR Kodu, avantajları nedeniyle pazarlama stratejilerinde işletmeler veya kar amacı gütmeyen
                                        kuruluşlar için yararlıdır. Çalışması için bir aboneliğe ihtiyacı olsa da, sunduğu avantajlara kıyasla ödenmesi
                                        gereken küçük bir bedel. Dinamik QR Kod çözümleri düzenlenebilir, yani bir hata yaptıysanız ve bunu ancak QR Kodlar
                                        yazdırıldıktan sonra fark ettiyseniz, panoya kolayca giriş yapabilir ve yazdırılan Kodların görünümünü değiştirmeden
                                        düzeltebilirsiniz.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->

    </main><!-- End #main -->